.roosC blockquote, q {
  quotes: "" ""; }

.roosC {
  font-size: 16px;
  line-height: 1.5;
  color: #777;
  font-weight: 400;
  font-family: 'Source Sans Pro','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,Helvetica,sans-serif; }
  .roosC .noIndent {
    margin-left: 0;
    padding-left: 0; }
  .roosC img {
    margin-bottom: 20px; }
  .roosC img.catalogImg {
    margin-bottom: 0; }
  .roosC ul.list-compact, .roosC .list-compact li {
    padding-left: 0; }
  .roosC table {
    border-collapse: separate;
    border-spacing: 0; }
  .roosC blockquote:before {
    content: ""; }
  .roosC a img {
    border: none; }
  .roosC a:focus, .roosC a:hover {
    color: #4676B8; }
  .roosC blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic; }
  .roosC strong {
    font-weight: bold; }
  .roosC em {
    font-style: italic; }
  .roosC ul {
    list-style-type: none;
    margin-left: 40px;
    color: #474747; }
  .roosC img {
    width: 100%;
    height: 100%; }
  .roosC a {
    font-weight: 400;
    color: #00A7FF;
    text-decoration: none; }
  @media (min-width: 0px) and (max-width: 767px) {
    .roosC img {
      display: block;
      margin-right: auto;
      margin-left: auto;
      max-height: 150px;
      height: auto;
      width: auto !important;
      /*owl carousel wants to override to 100% width*/
      max-width: 252px !important;
      /* fits smallest screen size, 15px for padding on right to mimick left*/ } }
  @media (min-width: 768px) {
    .roosC .main {
      font-size: 16px; }
    .roosC h1 {
      font-size: 2.5em;
      line-height: .5;
      margin-bottom: 0.4em; }
    .roosC h2 {
      font-size: 2.25em;
      margin-bottom: 0.4em; }
    .roosC h3 {
      font-size: 1.5em;
      margin-bottom: 0.4em; }
    .roosC h4 {
      font-size: 1.5em;
      line-height: 1;
      margin-top: 0.125em;
      margin-bottom: 0.25em; }
    .roosC h5 {
      font-size: 1.25em;
      margin-bottom: 0.125em; } }
  @media (min-width: 992px) {
    .roosC h1 {
      font-size: 2.5em;
      line-height: .75;
      margin-bottom: 0.4em; }
    .roosC h2 {
      font-size: 2.4em;
      margin-bottom: 0.4em; }
    .roosC h3 {
      font-size: 1.75em;
      line-height: 1;
      margin-bottom: 0.4em; }
    .roosC h4 {
      font-size: 1.75em;
      line-height: 1.25;
      margin-top: 0.25em;
      margin-bottom: 0.5em; }
    .roosC h5 {
      font-size: 1.25em;
      margin-bottom: 0.25em; } }
  @media (min-width: 1200px) {
    .roosC h1 {
      font-size: 2.5em;
      line-height: 1;
      margin-bottom: 0.4em; }
    .roosC h2 {
      font-size: 2.4em;
      margin-bottom: 0.5em; }
    .roosC h3 {
      font-size: 2.25em;
      line-height: 1;
      margin-bottom: 0.5em; }
    .roosC h4 {
      font-size: 2.25em;
      line-height: 1.25;
      margin-top: 0.5em;
      margin-bottom: 1em; }
    .roosC h5 {
      font-size: 1.75em;
      margin-bottom: 0.5em; } }

html {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Source Sans Pro','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',arial,veranda, helvetica,sans-serif;
  background: #F0F0F0;
  color: #707070;
  font-weight: normal; }

#page-wrapper {
  background: #FFFFFF;
  min-height: 100%;
  position: relative; }

.page-boxed {
  width: auto;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1); }

@media (min-width: 992px) {
  .page-boxed {
    width: 1000px; } }

@media (min-width: 1200px) {
  .page-boxed {
    width: 1200px; } }

a {
  outline: 0 none;
  text-decoration: none; }
  a:focus, a:hover {
    outline: 0 none;
    text-decoration: none; }

button {
  outline: 0 none;
  text-decoration: none; }
  button:focus, button:hover, button:active {
    outline: 0 none;
    text-decoration: none; }

p {
  margin: 0 0 20px; }

h1, h2, h3, h4, h5, h6 {
  color: #707070;
  font-weight: 300; }

.text-warning {
  color: #E67E22; }

.btn {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom-width: 2px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 12px 7px; }
  .btn:focus {
    outline: 0 none;
    outline-offset: 0; }
  .btn:active {
    -webkit-box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2) inset;
            box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2) inset; }
    .btn:active:focus {
      outline: 0 none;
      outline-offset: 0; }
  .btn i {
    margin-right: 8px; }

.btn-default {
  background: #F0F0F0;
  color: #555555; }
  .btn-default:hover, .btn-default:focus {
    background: #E0E0E0;
    border-color: #E0E0E0; }
  .btn-default:active {
    -webkit-box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.05) inset;
            box-shadow: 0 2px 1px 1px rgba(0, 0, 0, 0.05) inset; }

body a.btn-default {
  color: #555555; }
  body a.btn-default:hover, body a.btn-default:focus {
    color: #555555; }

body a.btn-primary {
  color: #FFFFFF; }
  body a.btn-primary:hover, body a.btn-primary:focus {
    color: #FFFFFF; }

body button.btn-primary {
  color: #FFFFFF; }
  body button.btn-primary:hover, body button.btn-primary:focus {
    color: #FFFFFF; }

.alert-danger {
  background: #C0392B; }

.alert-info, .label-info {
  background: #3498DB; }

.alert-warning, .label-warning {
  background: #E67E22; }

.label-success {
  background: #2ECC71; }

.btn-inverse {
  background: transparent;
  border-color: #FFFFFF;
  color: #FFFFFF;
  border-width: 2px; }
  .btn-inverse:hover, .btn-inverse:focus {
    background: #FFFFFF; }

.btn-lg {
  font-size: 14px;
  padding: 11px 16px 10px; }

.alert {
  border: 0;
  border-radius: 2px;
  color: #FFFFFF; }
  .alert .close {
    color: #000;
    font-size: 30px;
    position: relative;
    top: -5px; }

.nav.vertical-nav li {
  border-bottom: 1px solid #E5E5E5; }
  .nav.vertical-nav li:last-child {
    border-bottom: 0; }
  .nav.vertical-nav li a {
    color: #555555;
    font-weight: 300;
    padding: 6px 0;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s; }
    .nav.vertical-nav li a:hover, .nav.vertical-nav li a:focus {
      background: transparent; }
    .nav.vertical-nav li a i {
      margin-right: 8px; }

.nav-tabs {
  border-bottom: 0; }
  .nav-tabs > li > a {
    border: 0;
    border-radius: 0;
    margin-right: 0;
    background: #E0E0E0;
    color: #555555;
    padding: 12px 18px;
    font-weight: 700; }
    .nav-tabs > li > a:hover {
      background: #D0D0D0;
      color: #555555; }
  .nav-tabs > li.active > a {
    border: 0;
    color: #FFFFFF;
    cursor: default;
    padding: 14px 18px;
    margin-top: -4px; }
    .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      border: 0;
      color: #FFFFFF;
      cursor: default;
      padding: 14px 18px;
      margin-top: -4px; }

.tab-content {
  background: #F9F9F9;
  padding: 20px;
  border: 2px;
  border-style: solid;
  border-color: #e0e0e0; }

.panel {
  background: #F9F9F9;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 0;
  margin-bottom: 20px; }

.panel-heading {
  border-radius: 0;
  padding: 12px 15px; }

.panel-default > .panel-heading {
  background: #E5E5E5;
  color: #555555;
  border-color: rgba(0, 0, 0, 0.1); }

.panel-title i {
  margin-right: 8px; }

.panel-title a,
.panel-title button {
  width: 100%;
  text-align: left;
  cursor: pointer; }
  .panel-title a:after,
  .panel-title button:after {
    display: block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "\f068";
    color: #FFFFFF;
    float: right;
    margin: 2px 0 0; }
  .panel-title a.collapsed:after,
  .panel-title button.collapsed:after {
    content: "\f067"; }

.form-control {
  border: 1px solid #D5D5D5;
  border-bottom-width: 2px;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1) inset;
  color: #555555;
  height: 42px;
  -webkit-transition: 0.3s ease-in-out 0s;
  transition: 0.3s ease-in-out 0s;
  border-radius: 0; }
  .form-control:focus {
    outline: none;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08) inset;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.08) inset;
    border-color: #B5B5B5; }
    .form-control:focus::-webkit-input-placeholder, .form-control:focus:-moz-placeholder, .form-control:focus::-moz-placeholder {
      color: transparent; }

textarea.form-control {
  height: 180px;
  resize: vertical; }

form label span {
  color: #E74C3C;
  margin-left: 5px; }

.input-group .form-control {
  height: 38px;
  border-radius: 4px 0 0 4px; }

.input-group .btn {
  padding: 9px 13px 8px;
  font-size: 13px;
  margin: 0; }

.input-group-btn:last-child > .btn {
  margin-left: 0; }

.input-group-btn .btn i {
  margin-right: 0; }

.input-group-addon {
  border-radius: 0;
  border-bottom-width: 2px;
  color: #888888;
  font-size: 20px;
  border-color: #D5D5D5; }

.form-group.nospace {
  margin: 0; }

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox {
  padding-top: 12px; }

.overlay-wrapper {
  position: relative; }
  .overlay-wrapper .overlay {
    margin: 2px;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s; }
    .overlay-wrapper .overlay a {
      font-size: 30px;
      color: #FFFFFF; }
      .overlay-wrapper .overlay a:hover {
        color: #FFFFFF; }
  .overlay-wrapper:hover .overlay {
    opacity: 1; }

.owl-dots {
  text-align: center;
  padding-top: 20px; }

.owl-carousel.catalogCategoriesSlider .owl-prev, .owl-carousel.catalogCategoriesSlider .owl-next {
  top: 90px; }

.owl-carousel .owl-dots {
  position: relative;
  text-align: center;
  width: 100%; }

.owl-carousel .owl-dot {
  display: inline-block; }
  .owl-carousel .owl-dot span, .owl-carousel .owl-dot.active span {
    border-radius: 50%;
    display: block;
    margin: 0 3px;
    width: 16px;
    height: 16px; }
  .owl-carousel .owl-dot span {
    background: #CCCCCC; }
  .owl-carousel .owl-dot.active span {
    background: #4676B8; }

.owl-carousel .owl-nav div {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 46px;
  height: 46px;
  text-align: center;
  border-radius: 50%;
  font-size: 29px;
  background: rgba(8, 74, 161, 0.4);
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  margin-top: -20px; }
  .owl-carousel .owl-nav div:hover {
    background: #084aa1;
    color: #FFF; }
  .owl-carousel .owl-nav div.owl-prev {
    left: -80px; }
    .owl-carousel .owl-nav div.owl-prev i {
      margin-right: 3px; }
  .owl-carousel .owl-nav div.owl-next {
    right: -80px; }
    .owl-carousel .owl-nav div.owl-next i {
      margin-left: 3px; }

.hidden-control.owl-carousel {
  margin-bottom: 0; }
  .hidden-control.owl-carousel .owl-nav div {
    opacity: 0;
    -webkit-transition-duration: 0s;
            transition-duration: 0s;
    color: #FFFFFF; }
    .hidden-control.owl-carousel .owl-nav div.owl-prev {
      left: 40px; }
    .hidden-control.owl-carousel .owl-nav div.owl-next {
      right: 40px; }

.brands > li {
  margin-bottom: 0; }
  .brands > li > a:hover {
    color: #FFFFFF; }

.top-header {
  background: #F0F0F0;
  border-bottom: 1px solid #DDDDDD;
  padding-left: 30px;
  padding-right: 30px;
  height: 25px; }
  .top-header .header-item {
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
    padding-top: 4px; }
    .top-header .header-item:last-child {
      margin-right: 0; }
    .top-header .header-item i {
      margin-right: 7px; }

.navbar {
  border-bottom: 1px solid #DDDDDD;
  background: #FFFFFF;
  margin: 0;
  height: 70px; }

.navbar-offset {
  -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.05); }

.navbar-default .navbar-nav > li > a {
  padding-bottom: 25px;
  padding-top: 25px;
  color: #777777;
  font-weight: 300;
  font-family: 'Source Sans Pro', sans-serif; }
  .navbar-default .navbar-nav > li > a > i {
    font-size: 10px;
    position: relative;
    top: -1px;
    left: 3px; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #333333; }

.navbar-default .navbar-nav > .active > a {
  color: #FFFFFF; }
  .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF; }

.navbar-nav > li > .dropdown-menu {
  background: #F8F8F8;
  border: 0;
  border-bottom: 3px solid #4676B8;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  min-width: 175px; }

.dropdown-menu > li {
  border-bottom: 1px solid #C5C5C5; }
  .dropdown-menu > li:last-child {
    border-bottom: 0; }
  .dropdown-menu > li > a {
    color: #555555;
    font-weight: 300;
    padding: 10px 15px;
    -webkit-transition: 0.3s ease-in-out 0s;
    transition: 0.3s ease-in-out 0s;
    background: #FFF;
    position: relative; }
    .dropdown-menu > li > a i {
      margin-right: 8px; }
    .dropdown-menu > li > a:hover {
      background: #E5E5E5;
      color: #333333;
      padding-left: 20px; }

.yamm-content {
  padding: 20px; }
  .yamm-content h3 {
    margin: 0 0 20px; }
  .yamm-content ul li a:hover {
    background: transparent; }

.navbar-default .navbar-nav > li.search-form-toggle > a {
  padding: 16px 15px 0;
  background: transparent; }
  .navbar-default .navbar-nav > li.search-form-toggle > a > i {
    font-size: 22px;
    background: #F0F0F0;
    color: #AAAAAA;
    padding: 8px;
    border-radius: 4px; }

.jumbotron {
  padding: 0;
  border-bottom: 0;
  margin: 0;
  background: transparent; }

#jumbotron-eshop-slider.hidden-control.owl-theme .owl-buttons div {
  opacity: 0;
  background: transparent;
  color: #FFFFFF;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  border: 0;
  font-size: 60px; }
  #jumbotron-eshop-slider.hidden-control.owl-theme .owl-buttons div:hover {
    background: transparent; }

#jumbotron-slider.owl-carousel .owl-stage-outer {
  -webkit-box-shadow: none;
          box-shadow: none; }

.bg-color-2 {
  background: #F0F0F0; }

.breadcrumb-wrapper {
  background: #F0F0F0;
  border-bottom: 1px solid #ccc;
  padding: 15px 0; }
  .breadcrumb-wrapper h2 {
    float: left;
    font-size: 24px;
    font-family: 'Source Sans Pro';
    margin: 0;
    color: #555555; }
  .breadcrumb-wrapper .breadcrumb {
    float: right;
    margin: 0;
    border-radius: 0;
    background: transparent;
    padding: 3px 0 0; }
    .breadcrumb-wrapper .breadcrumb > li {
      font-size: 14px;
      font-weight: 600; }
    .breadcrumb-wrapper .breadcrumb > .active {
      color: #777777;
      font-weight: 700; }
    .breadcrumb-wrapper .breadcrumb > li + li:before {
      color: #AAAAAA;
      content: "\f101";
      padding: 0 8px;
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1; }

.search-doc-bar {
  background: #4676B8;
  margin: 15px 0;
  padding: 25px;
  color: #FFFFFF; }
  .search-doc-bar .btn {
    color: #AAA; }
  .search-doc-bar h2 {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    margin: 6px 0 0 0;
    font-size: 26px;
    color: #FFFFFF;
    text-align: center; }
  .search-doc-bar .input-group .btn {
    background: #444; }
    .search-doc-bar .input-group .btn:hover, .search-doc-bar .input-group .btn:focus {
      border-color: #333;
      background: #333; }

#section-partners #partners-slider {
  padding: 50px 0;
  margin: 0; }
  #section-partners #partners-slider .item {
    text-align: center; }

footer {
  background: #EAEAEA;
  color: #555555;
  padding: 30px 0 15px; }
  footer h3 {
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: 600; }
    footer h3 i {
      margin-right: 15px;
      font-size: 16px; }
  footer ul li {
    line-height: 23px; }
  footer p {
    margin: 0;
    font-size: 13px; }
  footer .brands {
    margin: 18px 0 12px; }
    footer .brands li {
      margin-bottom: 0;
      margin-right: 7px; }
      footer .brands li a {
        background: #777777;
        color: #FFFFFF; }
  footer .footer-bottom {
    border-top: 1px solid #DADADA;
    padding: 15px 0 0;
    margin: 10px 0 0; }
  footer .navbar-nav > li > a {
    color: #555555;
    font-size: 13px;
    padding: 0 10px; }
    footer .navbar-nav > li > a:hover {
      background: transparent; }

#latest-work-footer {
  margin: 0; }
  #latest-work-footer > div {
    padding: 2px; }
  #latest-work-footer .overlay-wrapper:hover .overlay {
    opacity: 0.75; }

.forms-only {
  padding: 0 180px; }
  .forms-only form {
    text-align: left;
    background: #F9F9F9;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 40px; }
    .forms-only form button.btn {
      margin-top: 5px; }
    .forms-only form h3 {
      font-size: 24px;
      margin: 0 0 20px;
      line-height: 32px; }

#reset-password {
  display: none;
  border-top: 1px solid #DDDDDD;
  margin-bottom: 20px; }

#pricing, #pricingtable .row {
  margin: 0; }

#pricing > div, #pricingtable .row > div {
  padding: 0; }

.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.pricing-plan {
  background: #F5F5F5;
  text-align: center;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.1); }
  .pricing-plan.popular {
    background: #E5E5E5;
    position: relative;
    top: -35px; }
  .pricing-plan h3, .pricing-plan p {
    padding: 15px 0;
    color: #FFFFFF;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700; }

body .pricing-plan.popular h3, body .pricing-plan.popular p {
  background: #555555; }

.pricing-plan p {
  font-size: 14px;
  color: #EEEEEE;
  padding-top: 0; }

.pricing-plan .pricing-plan-price {
  padding: 13px 0; }
  .pricing-plan .pricing-plan-price h2 {
    font-size: 1.5em;
    color: white; }

body .pricing-plan.popular .pricing-plan-price {
  background: #666666; }

.pricing-plan .pricing-plan-price span {
  color: #FFFFFF; }
  .pricing-plan .pricing-plan-price span.pricing-plan-number {
    font-size: 50px; }
  .pricing-plan .pricing-plan-price span.pricing-plan-text {
    font-size: 16px;
    display: block;
    font-weight: 300;
    position: relative;
    top: -10px;
    color: rgba(215, 215, 215, 0.7); }

.pricing-plan ul {
  padding: 10px 30px;
  margin-left: 0;
  margin-bottom: 0;
  text-align: left; }
  .pricing-plan ul li {
    border-bottom: 1px solid #E5E5E5;
    color: #555555;
    line-height: 50px; }

.pricing-plan.popular ul li {
  border-color: #D5D5D5; }

.pricing-plan ul li:last-child {
  border-bottom: 0; }

.pricing-plan ul li i {
  color: #999999;
  padding: 0 5px; }

.pricing-plan .btn {
  margin-bottom: 30px; }

#pricingtable .pricing-plan ul {
  padding: 10px 30px;
  text-align: center; }

.pricing-plan-titles {
  margin-top: 178px; }

#pricingtable .pricing-plan-titles ul {
  text-align: left; }

#services .service h3 {
  text-transform: uppercase;
  font-size: 20px;
  margin: 0 0 10px;
  font-weight: 400;
  color: #555555;
  -webkit-transition: 0.3s ease-in-out 0s;
  transition: 0.3s ease-in-out 0s; }

#services .service p {
  font-size: 18px;
  color: #666666;
  margin: 0; }

#services.services1 .service {
  padding: 10px 0 20px; }
  #services.services1 .service i {
    font-size: 40px;
    width: 60px;
    display: block;
    float: left; }
  #services.services1 .service .service-body {
    overflow: hidden; }

#services.services3 .service {
  text-align: center;
  padding: 15px 0; }
  #services.services3 .service i {
    font-size: 40px;
    border: 2px solid #4676B8;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    padding-top: 25px;
    -webkit-transition: 0.3s ease-in-out 0s;
    transition: 0.3s ease-in-out 0s; }

body #services.services3 .service:hover i {
  color: #FFFFFF; }

#services.services3 .service {
  text-align: center;
  padding: 20px;
  background: #F9F9F9;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: 0 0 30px; }
  #services.services3 .service h3 {
    margin: 20px 0 15px;
    font-size: 24px; }

.profile {
  text-align: center;
  background: #F9F9F9;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: 0 20px; }
  .profile img {
    margin-bottom: 20px; }

#map-canvas {
  height: 400px;
  margin: 0;
  padding: 0; }

#google-map, .map-overlay-wrapper {
  position: relative; }

.map-overlay {
  display: inline-block;
  position: absolute;
  top: 25px;
  width: 26%;
  color: #FFFFFF; }
  .map-overlay i {
    font-size: 64px;
    padding: 20px 20px 0 20px;
    display: block;
    float: left; }
  .map-overlay .map-overlay-body {
    display: inline-block; }
  .map-overlay h3 {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold; }
  .map-overlay ul {
    margin-bottom: 20px; }
    .map-overlay ul li {
      font-size: 16px;
      line-height: 26px; }
  .map-overlay:first-child, .map-overlay:last-child {
    right: 25px; }

.blog-post-buttons {
  border-top: 1px solid #E5E5E5;
  padding-top: 15px; }

.eshop-product h3 {
  margin: 0 0 7px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px; }

.eshop-product .product-price {
  margin: -8px 15px 0 0; }
  .eshop-product .product-price .new-price {
    font-weight: bold;
    font-size: 24px;
    color: #C0392B;
    margin-left: 5px; }

#eshop-cart-alert {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  border-radius: 0;
  padding: 40px 60px 10px;
  font-size: 24px;
  display: none;
  z-index: 1030; }
  #eshop-cart-alert .close {
    font-size: 60px;
    top: -15px; }

.eshop-grid .eshop-product {
  position: relative;
  border: 2px solid #f0f0f0; }
  .eshop-grid .eshop-product img {
    margin: 0 auto; }
  .eshop-grid .eshop-product h3 {
    font-size: 16px; }
  .eshop-grid .eshop-product .eshop-product-body {
    border-top: 1px solid #EBEBEB;
    background: #FFFFFF;
    padding: 10px 20px 15px; }
  .eshop-grid .eshop-product .product-price {
    margin: 0; }

.eshop-detail .eshop-product {
  margin-top: 30px;
  position: relative;
  margin-bottom: 15px; }
  .eshop-detail .eshop-product .label {
    font-size: 14px;
    padding: 7px 10px; }
  .eshop-detail .eshop-product h3 {
    margin: 20px 0;
    font-size: 32px; }
  .eshop-detail .eshop-product .product-price {
    margin: 20px 0;
    padding: 5px 10px;
    background: #FFFFFF;
    text-align: left;
    border: 2px dashed #E0E0E0; }
    .eshop-detail .eshop-product .product-price .new-price {
      font-size: 35px;
      margin-left: 15px; }
  .eshop-detail .eshop-product form .form-group {
    margin: 10px 0; }
  .eshop-detail .eshop-product .blog-post-buttons .pull-left {
    font-weight: bold; }
    .eshop-detail .eshop-product .blog-post-buttons .pull-left a i {
      margin-right: 5px; }

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-default .navbar-nav > li > a {
    padding-left: 9px;
    padding-right: 9px; }
  .navbar-nav > li > .dropdown-menu {
    min-width: 175px; }
  .dropdown-menu > li > a {
    font-size: 13px; }
  .forms-only {
    padding: 0 80px; }
  .overlay-wrapper .overlay a {
    font-size: 24px;
    margin-left: 0;
    margin-top: -15px; } }

@media (max-width: 991px) {
  .overlay-wrapper .overlay a {
    font-size: 24px;
    margin-left: 0;
    margin-top: -15px; }
  .breadcrumb-wrapper .breadcrumb {
    display: none; }
  footer {
    text-align: center; }
  .pricing-plan {
    margin: 0 0 30px; }
    .pricing-plan.popular {
      top: 0; }
  #about-content p {
    font-size: 16px;
    line-height: 26px; }
  #about-slider {
    margin: 40px 0 20px; }
  .profile {
    margin-bottom: 40px; }
  .forms-only {
    padding: 0; }
  #eshop-slider {
    margin-bottom: 30px;
    height: 100%; }
  .map-overlay {
    width: 40%; } }

@media (min-width: 768px) and (max-width: 991px) {
  .profile {
    margin: 0; }
  .pricing-plan.popular {
    top: -35px; } }

@media (max-width: 767px) {
  .map-overlay i {
    display: none; }
  .map-overlay .map-overlay-body {
    padding: 10px; }
  .map-overlay h3 {
    margin-top: 0; }
  .map-overlay ul {
    margin-bottom: 0; } }

@media (max-width: 568px) {
  .overlay-wrapper .overlay a {
    font-size: 45px;
    margin-left: -15px;
    margin-top: -27px; } }

@media (max-width: 480px) {
  #map-canvas, .map-overlay {
    display: none; }
  .forms-only form {
    padding: 20px; } }

@media (max-width: 360px) {
  .nav-tabs > li.active > a {
    padding: 10px 14px;
    margin-top: -4px; }
    .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      padding: 10px 14px;
      margin-top: -4px; }
  .content h2 {
    font-size: 26px; }
  .profile {
    margin: 0; }
  .eshop-detail .eshop-product .product-price .new-price {
    font-size: 35px;
    margin-left: 10px; } }

* {
  margin: 0px;
  padding: 0px; }

a {
  color: #4676B8; }

.btn-inverse:hover, .btn-inverse:focus {
  color: #4676B8; }

.nav.vertical-nav li a:hover, form label, .top-header .header-item, .dropdown-menu > li > a:hover i {
  color: #4676B8; }

footer h3 i, footer .navbar-nav > li > a:hover {
  color: #4676B8; }

#services .service:hover h3, #services.services1 .service i, #services.services3 .service i {
  color: #4676B8; }

#index-content h1, #jumbotron-slider .btn-inverse, #questionMark, .nav.vertical-nav > li > a:hover i, #jumbotron-slider #index-slide-3 .btn-inverse:hover {
  color: #4676B8; }

.btn-primary {
  background: #4676B8; }

.nav-tabs > li.active > a {
  background: #4676B8; }
  .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #4676B8; }

.overlay-wrapper .overlay {
  background: #4676B8; }

.navbar-default .navbar-nav > .active > a {
  background: #4676B8; }
  .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #4676B8; }

.content-separator, .pricing-plan .pricing-plan-price, #services.services3 .service:hover i {
  background: #4676B8; }

#jumbotron-slider .btn-inverse:hover, #jumbotron-slider .btn-inverse:focus {
  background: #4676B8; }

.navbar-nav > li > .dropdown-menu, #services.services3 .service i, #jumbotron-slider .btn-inverse {
  border-color: #4676B8; }

.map-overlay {
  background: rgba(8, 74, 161, 0.8); }

@media (max-width: 991px) {
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    color: #0D58A6; }
  .navbar-default .navbar-collapse {
    border-color: #0D58A6; } }

a:hover, a:focus {
  color: #00A7FF; }

.btn-primary:hover, .btn-primary:focus {
  background: #00A7FF; }

.pricing-plan h3, .pricing-plan p {
  background: #00A7FF; }

.btn-primary:hover, .btn-primary:focus {
  border-color: #00A7FF; }

#title {
  font-family: 'Michroma','Source Sans Pro','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial, Helvetica, sans-serif;
  color: #000000;
  line-height: 1.2; }

#nav-tag {
  font-family: 'Source Sans Pro','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',arial,veranda, helvetica,sans-serif;
  font-weight: 300;
  color: #4c4c4c;
  margin-bottom: 15px; }

.mobileTopBtn {
  top: 9px;
  float: right;
  padding-right: 8px;
  z-index: 1;
  position: relative;
  font-size: 24px; }

.defaultCursor {
  cursor: default; }

abbr {
  position: relative;
  border-bottom: 1px dotted #AAA; }
  abbr:hover::after {
    color: #4c4c4c;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    position: absolute;
    width: 150px;
    top: 110%;
    left: 0;
    display: block;
    border-radius: 2px;
    content: attr(data-title);
    background: #FFF;
    z-index: 1; }

.contactLinks {
  color: #555; }
  .contactLinks:hover {
    color: #084aa1; }

.default {
  font-size: 16px;
  line-height: 1.5;
  color: #777;
  font-weight: 400;
  font-family: 'Source Sans Pro','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,Helvetica,sans-serif; }
  .default ul {
    list-style-type: circle;
    margin-left: 40px; }
  .default a {
    font-weight: 400;
    color: #0095d7;
    text-decoration: none; }
    .default a:focus, .default a:hover {
      color: #4676B8; }

blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

.dropShadow {
  -webkit-box-shadow: 4px 4px 3px #6f6f6f;
          box-shadow: 4px 4px 3px #6f6f6f; }

.centerImg {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.main {
  font-family: 'Source Sans Pro', 'HelveticaNeue-Light',arial,veranda, helvetica,'Quando','Times New Roman', Times, serif;
  font-weight: 400; }

.navButton {
  background: transparent; }

.list-compact {
  margin-top: -10px; }
  .list-compact li {
    padding-left: 30px;
    border-bottom: none !important;
    line-height: 1.5em !important; }

/* Google search specifc fix for Bootstrap */
input.gsc-input, .gsc-input-box, .gsc-search-button {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  line-height: normal; }

/*Use around non-Bootstrap compatible plugins, i.e. GOOGLE SEARCH*/
.reset-box-sizing {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }
  .reset-box-sizing * {
    -webkit-box-sizing: content-box;
            box-sizing: content-box; }
    .reset-box-sizing *:before, .reset-box-sizing *:after {
      -webkit-box-sizing: content-box;
              box-sizing: content-box; }

input.gsc-input, .gsc-input-box, .gsc-search-button {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  line-height: normal; }

.upper {
  text-transform: uppercase; }

#services .service ul {
  margin: 0; }

#companyService .service {
  min-height: 410px; }

footer {
  background: #F0F0F0; }

hr.space {
  clear: both;
  float: none;
  width: 100%;
  border: none;
  height: 1px;
  background: transparent;
  color: #fff;
  visibility: hidden; }

h1 {
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 0.4em; }

h2 {
  font-size: 1.75em;
  margin-bottom: 0.4em; }

h3 {
  font-size: 1.5em;
  margin-bottom: 0.4em; }

h4 {
  font-size: 1.5em;
  margin-top: 0.125em;
  margin-bottom: 0.25em; }

h5 {
  font-size: 1em;
  margin-bottom: 0.125em; }

.main {
  font-size: 15px; }

hr.space {
  margin-bottom: 0em; }

.index-slideshow-bar {
  padding: 10px; }

.btn-index {
  font-size: 12px; }

#index-main {
  font-size: 16px; }

.parentbox {
  height: 150px; }

.catalogImg {
  max-height: 150px; }

#productImg img {
  max-height: 230px;
  max-width: 100%;
  height: auto; }

#productImg .item img {
  height: auto;
  margin-top: 3px;
  max-width: 112.25px; }

.mainTitleAdjust {
  color: #333;
  margin-top: 3px;
  font-size: 30px; }

.ROOSbanner {
  background: -webkit-gradient(linear, left top, right top, from(#5ebcf0), color-stop(18%, #54b6ec), color-stop(34%, #0095d7), color-stop(60%, #0085ca), color-stop(73%, #186fb7), color-stop(81%, rgba(38, 98, 172, 0.84)), color-stop(95%, rgba(40, 88, 163, 0.67)), to(rgba(42, 75, 151, 0)));
  background: linear-gradient(to right, #5ebcf0 0%, #54b6ec 18%, #0095d7 34%, #0085ca 60%, #186fb7 73%, rgba(38, 98, 172, 0.84) 81%, rgba(40, 88, 163, 0.67) 95%, rgba(42, 75, 151, 0) 100%);
  height: 2px;
  width: 377px; }

@media (min-width: 768px) {
  hr.space {
    margin-bottom: 1em; }
  .rightImgAlignH1-H3 {
    margin-top: -38px; }
  .leftImgAlignH1-H3 {
    margin-top: 28px; }
  .index-slideshow-bar {
    padding: 20px; }
  .btn-index {
    font-size: 14px; }
  #index-main {
    font-size: 17px; }
  .catalogImg {
    max-height: 230px;
    width: initial !important;
    height: initial !important; }
  .parentbox, .parentbox2 {
    height: 230px; } }

@media (min-width: 992px) {
  hr.space {
    margin-bottom: 2.5em; }
  .btn-index {
    font-size: 16px; }
  #index-main {
    font-size: 18px; }
  .catalogImg {
    max-height: 196px; }
  .parentbox {
    height: 196px; }
  #nav-tag {
    font-size: 15.5px; } }

@media (min-width: 1200px) {
  hr.space {
    margin-bottom: 2.75em; }
  .rightImgAlignH1-H3 {
    margin-top: -67px; }
  .leftImgAlignH1-H3 {
    margin-top: 29px; }
  .index-slideshow-bar {
    padding: 40px; }
  .btn-index {
    font-size: 18px; }
  #index-main {
    font-size: 20px; }
  #nav-tag {
    font-size: 18px; }
  .mainTitleAdjust {
    font-size: 35px;
    margin-top: -1px; }
  .ROOSbanner {
    width: 440px; }
  .catalogImg {
    max-height: 175px; }
  .parentbox {
    height: 175px; } }

@media (min-width: 0px) and (max-width: 767px) {
  #index-slide-0 h2, #index-slide-1 h2, #index-slide-2 h2, #index-slide-3 h2, #index-slide-4 h2, #index-slide-5 h2, #index-slide-temp h2 {
    font-size: 1.25em; }
  #index-slide-0 h5, #index-slide-1 h5, #index-slide-2 h5, #index-slide-3 h5, #index-slide-4 h5, #index-slide-5 h5, #index-slide-temp h5 {
    font-size: 0.75em; } }

.input-group[class*=col-] {
  padding: 0 15px; }

.model-slides {
  position: relative;
  font-size: 30px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.6);
  font-weight: 300;
  margin: 0 0 10px;
  padding: 10px 20px;
  width: 218px;
  text-align: center;
  top: 0; }

#index-slide-0, #index-slide-1, #index-slide-2, #index-slide-3, #index-slide-4, #index-slide-5 {
  background-size: cover; }

#index-slide-0 {
  background-image: url(/images/index-slide-0.png); }

#index-slide-1 {
  background-image: url(/images/index-slide-1.png); }

#index-slide-2 {
  background-image: url(/images/index-slide-2.png); }

#index-slide-3 {
  background-image: url(/images/index-slide-3.png); }

#index-slide-4 {
  background-image: url(/images/index-slide-4.png); }

#index-slide-5 {
  background-image: url(/images/index-slide-5.png); }

.index-slideshow .item {
  background-repeat: no-repeat;
  background-position: center; }

#index-content {
  text-align: center; }
  #index-content p {
    margin: auto 7%; }

.index-slideshow-bar {
  background: rgba(127, 127, 127, 0.25);
  margin: 0 auto;
  width: 100%; }

#index-slide-2 h2, #index-slide-2 h5,
#index-slide-3 h2,
#index-slide-3 h5,
#index-slide-4 h2,
#index-slide-4 h5 {
  color: #FFF; }

#jumbotron-slider .btn-inverse:hover, #jumbotron-slider .btn-inverse:focus {
  color: #FFF; }

@media (max-width: 767px) {
  #nav-home > a, #nav-mobile-support > a, #nav-mobile-privacy > a, #nav-mobile-myAccount > a {
    font-weight: 700;
    color: #0095d7;
    text-decoration: none; }
  #nav-home:hover > a, #nav-mobile-support:hover > a, #nav-mobile-privacy:hover > a, #nav-mobile-myAccount:hover > a {
    color: #00A7FF; } }

#productImg img {
  vertical-align: middle;
  background: #EBEBEB;
  border: 3px solid #DDDDDD; }

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
  opacity: 1; }

#productTabs {
  background: #FFF; }

.tab-content p {
  margin: 0; }

/* aligns images both vertically and horizontally, used for product catalog */
.parentbox, .parentbox2 {
  width: 100%;
  text-align: center;
  font: 0/0 a;
  /* KEEP THIS - fixes inline-block providing small spacing which makes not perfectly centered*/ }

.parentbox:before, .parentbox2:before {
  /* create a full-height inline block pseudo-element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.childbox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font: 16px 'Source Sans Pro','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',arial,veranda, helvetica,sans-serif;
  /* KEEP - needed because parentbox, parentbox2 set font as 0 to fix spacing for inline-block*/ }

#productImg .item {
  height: 100%;
  width: auto; }

.forms-only > fieldset {
  text-align: left;
  background: #F9F9F9;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 40px; }

.faSameWidth {
  width: 20px; }

.input-group textarea.form-control {
  height: auto; }

textarea {
  padding: 10px 12px !important; }

@media (max-width: 767px) {
  .nav.vertical-nav > li > a:hover, .navbar-default .navbar-nav .dropdown-menu > li > a:hover {
    padding-left: 10px;
    color: #555; } }

@media (max-width: 767px) {
  .nav.vertical-nav > li:hover {
    background: #E5E5E5; }
  .navbar-default .navbar-nav .dropdown-menu > li:hover {
    background: #E5E5E5; }
  .navbar-default .navbar-nav .dropdown-menu > li > a:hover {
    padding: 8px 10px 8px 15px;
    background: #E5E5E5;
    color: #555; }
  .dropdown-menu > li > a {
    background: #F8F8F8; }
  #nav-products {
    margin-top: 15px; } }

.nav.vertical-nav > li:hover a {
  padding-left: 5px;
  color: #555; }

@media (max-width: 511px) {
  .mainTitleAdjust {
    margin-top: 8px;
    font-size: 23px; }
  .ROOSbanner {
    max-width: 289px; } }

@media (max-width: 411px) {
  .mainTitleAdjust {
    margin-top: 17px;
    font-size: 14px; }
  .ROOSbanner {
    max-width: 176px; } }

.btn-index {
  margin: 0;
  background: rgba(255, 255, 255, 0.5); }

@media (max-width: 767px) {
  .index-slideshow .item {
    height: 79vmin;
    max-height: 605px; }
  #jumbotron h5 {
    font-size: 4vmin; } }

@media (min-width: 768px) {
  .index-slideshow .item {
    height: 605px; }
  #jumbotron .index-slideshow h5 {
    font-size: 30.68px; } }

@media (min-width: 992px) {
  .index-slideshow .item {
    height: 560px;
    /*45px difference from above due to titlebar shrinking on mobile*/ } }

#index-slide-3 .btn-inverse {
  background: transparent;
  border-color: #FFF;
  color: #FFF; }
  #index-slide-3 .btn-inverse:hover {
    background: #FFF; }

.nav.vertical-nav > li:hover {
  background: transparent; }

.modal-body .tab-content {
  background: #FFF; }

.eshop-product a .product-num {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #F0F0F0;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 3px;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: initial;
          transition-delay: initial;
  font-weight: bold;
  z-index: 1;
  padding: 5px 10px;
  border-radius: .25em; }

.eshop-product a:hover .product-num {
  background: rgba(0, 0, 0, 0.35); }

footer {
  width: 100%;
  position: absolute;
  bottom: 0; }

@media (min-width: 992px) {
  footer {
    width: 1000px; } }

@media (min-width: 1200px) {
  footer {
    width: 1200px; } }

.jumbotron .container {
  margin-left: 5%; }

.catalogImg {
  padding: 5px; }

#content {
  background: #FFF;
  position: relative;
  padding-top: 15px;
  padding-bottom: 300px;
  /*padding size of footer +15px for space*/ }
  #content > *:first-child {
    margin-top: 0; }

@media (min-width: 768px) {
  #content {
    padding-top: 25px;
    padding-bottom: 373px;
    /*padding size of footer +25px for space*/ } }

#latest-work-footer img {
  background: #c1cfe0; }

@media (max-width: 767px) {
  #productImg img {
    max-height: 175px; }
  .parentbox2 {
    height: 175px; }
  #productImg .item img {
    max-width: 75px; } }

.product-price span {
  float: right;
  padding: 8px 8px;
  margin-right: 4px; }

@media (min-width: 768px) {
  .eshop-content .kitType:not(:first-of-type) {
    margin-top: 80px; } }

@media (max-width: 767px) {
  .eshop-content .kitType:not(:first-of-type) {
    margin-top: 40px; } }

img {
  /*img-responsive properties from bootstrap applied to all images*/
  display: block;
  max-width: 100%;
  height: auto; }

.megamenu .dropdown-menu {
  padding: 20px 10px; }
  .megamenu .dropdown-menu li {
    padding: 0 10px;
    border-bottom: 0; }
    .megamenu .dropdown-menu li ul li {
      border-bottom: 1px solid #E5E5E5; }
      .megamenu .dropdown-menu li ul li:last-child {
        border-bottom: 0; }
    .megamenu .dropdown-menu li h3 {
      margin: 0 0 15px;
      min-height: 26px; }
    .megamenu .dropdown-menu li ul li a:hover {
      background: transparent; }

@media (max-width: 767px) {
  .owl-dots {
    display: none; }
  .navbar-default {
    background: #F0F0F0;
    height: 50px; }
    .navbar-default .container {
      width: auto; }
    .navbar-default .navbar-header {
      float: none;
      margin: 0 -15px; }
    .navbar-default .navbar-toggle {
      border: 0;
      padding: 0;
      border-radius: 0;
      margin: 4px 15px 0;
      font-size: 28px;
      color: #555555;
      display: block; }
      .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background: transparent; }
    .navbar-default .navbar-collapse {
      border: 0;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-bottom: 3px solid #4676B8;
      margin: 0 -15px;
      max-height: 300px;
      float: none; }
      .navbar-default .navbar-collapse .navbar-nav {
        margin: 0 -15px;
        background: #FFFFFF;
        padding: 5px 15px;
        float: none; }
  .navbar-nav.nav > li {
    display: block;
    position: relative;
    float: none; }
  body .navbar.navbar-default .navbar-nav > li > a {
    padding: 9px;
    border-bottom: 2px solid #E5E5E5;
    font-size: 14px;
    font-weight: 600; }
  body .navbar.navbar-default .navbar-nav > li.active > a {
    padding: 9px;
    border-bottom: 2px solid #E5E5E5;
    font-size: 14px;
    font-weight: 600; }
    body .navbar.navbar-default .navbar-nav > li.active > a:hover, body .navbar.navbar-default .navbar-nav > li.active > a:focus {
      padding: 9px;
      border-bottom: 2px solid #E5E5E5;
      font-size: 14px;
      font-weight: 600; }
  .navbar-default .navbar-nav > li > a i {
    display: none; }
  .navbar-nav > li > .dropdown-menu {
    display: block;
    position: relative;
    width: 100%;
    float: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
    margin-bottom: 15px; }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    background: #F3F3F3;
    padding: 8px 10px; }
  header.navbar {
    background: #FFFFFF; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-default .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px; }
  .dropdown-menu > li > a {
    font-size: 13px; } }

input.gsc-search-button-v2 {
  margin-top: 0; }

@media (max-width: 767px) {
  .navbar-nav .dropdown-menu > li > a {
    line-height: 20px; }
  .navbar-default .navbar-nav a.dropdown-toggle, .navbar-default .navbar-nav a:hover.dropdown-toggle {
    background: #4677B8;
    color: #FFF; }
  .navbar-default .navbar-nav > .active > a {
    background: #4676B8; }
    .navbar-default .navbar-nav > .active > a:hover {
      background: #4676B8; }
  #searchKits {
    margin-bottom: 15px; }
  #vShiftChevron {
    top: 60px; } }

@media (min-width: 768px) {
  #vShiftChevron {
    top: 7px; }
  .dataTables_filter {
    float: right; } }

.eshop-content {
  margin-top: 10px; }

#productImg .childbox img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

@media (max-width: 767px) {
  .nav-tabs > li > a {
    padding: 8px 12px; }
  .nav-tabs > li.active > a {
    padding: 10px 14px;
    margin-top: -4px; }
    .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      padding: 10px 14px;
      margin-top: -4px; } }

.product-tags span.label {
  display: inline-block;
  margin-top: 5px; }

img.tableImg {
  max-width: 100px !important; }

.catalogTable {
  display: none;
  /*Javascript will make it visible once dataTables finished*/ }
  .catalogTable td {
    vertical-align: middle !important; }
  .catalogTable th {
    white-space: nowrap; }

footer .overlay-wrapper .overlay a {
  top: 28px;
  position: relative; }

.nav-indent1 {
  margin-left: 8px; }

.nav-indent2 {
  margin-left: 16px; }

.dataTables_filter {
  display: none; }

.panel-warning > .panel-heading {
  background: #e67e22;
  border-color: #e67e22; }

.navbar.navbar-default {
  border-radius: 0; }

.mediaKit img {
  background: #f0f0f0; }

.mediaKit h5 {
  text-align: center; }

.mediaKit .parentbox {
  margin-bottom: 40px; }
  .mediaKit .parentbox:before {
    vertical-align: initial;
    display: initial; }

#article ul, #article ol {
  margin-left: 15px; }

#article img {
  display: inline-block; }

#article font {
  font-family: 'Source Sans Pro','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,Helvetica,sans-serif; }

.eshop-product-body h3 {
  height: 32px !important;
  overflow: hidden;
  text-overflow: ellipsis; }

.brands > li {
  display: inline; }
  .brands > li a {
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    padding-top: 6px;
    width: 35px;
    height: 35px; }

.brands > li > a.brands-facebook:hover {
  background: #3B5998; }

.brands > li > a.brands-google-plus:hover {
  background: #C63D2D; }

.brands > li > a.brands-linkedin:hover {
  background: #4875B4; }

.brands > li > a.brands-twitter:hover {
  background: #33CCFF; }

@media (max-width: 767px) {
  .brands > li > a.brands-facebook {
    background: #3B5998; }
  .brands > li > a.brands-google-plus {
    background: #C63D2D; }
  .brands > li > a.brands-linkedin {
    background: #4875B4; }
  .brands > li > a.brands-twitter {
    background: #33CCFF; } }

.link {
  background: none !important;
  color: #4676B8;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  outline: none; }
  .link:hover {
    color: #00A7FF; }

.list-group-item {
  border: none;
  border-radius: 0 !important;
  border-bottom: 1px solid #ddd;
  padding: 10px 5px;
  margin-bottom: 0; }

#section-blog-posts {
  background: #4676B8;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #section-blog-posts h2 {
    color: white; }

.dark-theme body {
  color: #ccc; }

.dark-theme body,
.dark-theme .breadcrumb-wrapper,
.dark-theme .top-header,
.dark-theme footer {
  background: #0f0f0f; }

.dark-theme .roosC,
.dark-theme .navbar-default .navbar-nav > li > a,
.dark-theme .breadcrumb-wrapper .breadcrumb > .active {
  color: #d5d5d5; }

.dark-theme .mainTitleAdjust,
.dark-theme h1, .dark-theme h2, .dark-theme h3, .dark-theme h4, .dark-theme h5, .dark-theme h6 {
  color: #ccc; }

.dark-theme #nav-tag {
  color: #b3b3b3; }

.dark-theme abbr:hover::after {
  color: #b3b3b3;
  background: #000; }

.dark-theme .page-boxed {
  -webkit-box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.1);
          box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.1); }

.dark-theme #page-wrapper,
.dark-theme #content,
.dark-theme .navbar {
  background: #000;
  border-color: #222; }

.dark-theme .navbar,
.dark-theme .top-header,
.dark-theme .breadcrumb-wrapper {
  border-color: #222; }

.dark-theme .navbar-default .navbar-nav > .open > a {
  background: #181818;
  color: #aaa; }
  .dark-theme .navbar-default .navbar-nav > .open > a:focus, .dark-theme .navbar-default .navbar-nav > .open > a:hover {
    background: #181818;
    color: #aaa; }

.dark-theme .footer-bottom {
  border-top: 1px solid #222; }

.dark-theme footer .navbar-nav > li > a {
  color: #aaa; }
  .dark-theme footer .navbar-nav > li > a:hover {
    color: #4676B8; }

.dark-theme .navbar-nav > li > .dropdown-menu {
  background: #070707;
  border: 0;
  -webkit-box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
          box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2); }

.dark-theme .dropdown-menu > li {
  border-color: #3A3A3A; }
  .dark-theme .dropdown-menu > li a {
    color: #aaa;
    background: #000; }
    .dark-theme .dropdown-menu > li a:hover {
      background: #1A1A1A;
      color: #ccc; }

.dark-theme .nav.vertical-nav li {
  border-color: #1A1A1A; }
  .dark-theme .nav.vertical-nav li a {
    color: #aaa; }

.dark-theme .contactLinks {
  color: #aaa; }
  .dark-theme .contactLinks:hover {
    color: #4676B8; }

.automotiveNums {
  width: 50px !important; }

ul {
  list-style-type: none; }

.row.no-pad {
  margin-right: 0;
  margin-left: 0; }

.row.no-pad > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

.blue-hr {
  border-top: 2px solid #4676B8;
  width: 60%;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 30px auto; }

.prev {
  float: left;
  margin: 0px 0px 0px 6px;
  position: absolute;
  left: 0px; }

.next {
  float: right;
  margin: 0px 6px 0px 0px;
  position: absolute;
  right: 0px; }

#search-results a {
  font-weight: 300; }

#search-results b {
  font-weight: 1000; }

#search-results span b {
  color: #4e4e4e; }

.result {
  margin-top: 5px;
  padding-bottom: 5px; }

.result br {
  display: none; }

.inactive{
  color: black !important;
}